<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Saved Data</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>
<body>
    <div class="container">
        <h3>Therapy Sessions Data</h3>
        <hr/>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>selected frequency</th>
                    <th>filtered range</th>
                    <th>audio balance</th>
                    <th>duration</th>
                    <th>volume</th>
                    <th>user id</th>
                    <th>satisfaction point</th>
                    <th>created at</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="ths: ${thsList}">
                    <td th:text="${ths.selectedFrequency}" />
                    <td th:text="${ths.filteredRange}" />
                    <td th:text="${ths.audioBalance}" />
                    <td th:text="${ths.duration}" />
                    <td th:text="${ths.volume}" />
                    <td th:text="${ths.userId}" />
                    <td th:text="${ths.satisfactionPoint}" />
                    <td th:text="${ths.createdAt}" />
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
